/* Base styles */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

input {
    width: 100%;
}

button,
input,
textarea,
select,
option {
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-flex;
}

li {
    list-style: none;
}

span {
    font-family: inherit;
}

body {
    background: rgb(19, 22, 63);
}

.container {
    margin: 0 auto;
}

/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: 'Gogol';
    src: url(../fonts/gogol_regular.otf) format('opentype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lighthaus';
    src: url(../fonts/Lighthaus.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Klik';
    src: url(../fonts/Klik-Light.otf) format('opentype');
    font-weight: 300;
    font-style: normal;
}

/* COMMON STYLES */

.title {
    color: rgb(255, 255, 255);
    font-family: 'Lighthaus';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 4%;
    text-align: center;
}

.gold-square {
    position: relative;
    width: fit-content;
}

.price {
    display: flex;
    flex-direction: column;
    font-family: 'Klik';
    font-size: 32px;
    font-weight: 300;
    line-height: 44px;
}

.gold-square::after {
    content: "";
    position: absolute;
    top: -6px;
    right: -6px;
    width: 12px;
    height: 12px;
    background: #AD9361;
    transform: rotate(45deg);
}

.click-btn {
    padding: 21px 50px;
    font-family: 'Klik';
    font-size: 30px;
    font-weight: 300;
    line-height: 100%;
    border-radius: 18px;
}

.gold-btn {
    color: #ffffff;
    background: #AD9361;
}

.violet-btn {
    color: #AD9361;
    border: 1px solid #AD9361;
    background: #251C64;
}

.gold {
    color: #AD9361;
}

.gold-light {
    color: #EBDEC5;
}

.gold-gradient {
    background: linear-gradient(74.68deg, rgb(191, 150, 60),rgb(214, 191, 109),rgb(202, 168, 82),rgb(212, 184, 87),rgb(221, 205, 150));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.video__wrapper {
    position: relative;
}

.video-play {
    display: inline-flex;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: .4s all;
}

.video-play.unactive {
    opacity: 0;
    z-index: -1;
}

.page__form {
    width: 100%;
}

.page-input {
    border-radius: 20px;
    text-align: center;
    height: 71px;
    background: rgb(255, 255, 255);
    color: #858484;
    font-family: 'Klik';
    font-size: 40px;
    font-weight: 300;
}

.page__form-title {
    font-family: 'Gogol';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

.page__form-accept {
    width: fit-content;
    margin: 0 0 0 auto;
    font-family: 'Klik';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.page__form-inputs {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

/* HEADER */

.header {
    position: absolute;
    padding: 18px 45px;
    width: 100%;
}

.header__wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-item {
    color: rgb(255, 255, 255);
    font-family: 'Klik';
    font-size: 24px;
    font-weight: 300;
    line-height: 100%;
}

.nav {
    width: 53.91%;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 37% ;
}

.numbers__item {
    display: flex;
    align-items: center;
    gap: 16px;
}

/* MAIN PAGE MAIN PAGE MAIN PAGE MAIN PAGE MAIN PAGE MAIN PAGE  */

/* PROMO SECTION */

.promo {
    padding: 286px 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(../img/main-page/promo/bg.png) center / cover no-repeat;
}

.promo-title {
    margin-top: 34px;
}

.promo-subtitle {
    margin-top: 35.5px;
}

.promo-btn {
    margin-top: 130px;
}

.promo-tagline {
    margin-top: 42px;
    color: #ffffff;
    font-family: 'Gogol';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

/* COMPANY SECTION */

.company {
    padding: 220px 0 157px;
    background: url(../img/main-page/company/bg.png) center / cover no-repeat;
}

.company__wrapper {
    max-width: 1448px;
}

.company-title {
    font-family: 'Gogol';
    font-size: 98px;
    font-weight: 400;
    line-height: 98px;
    text-align: center;
}

.company__info {
    margin-top: 91px;
    display: grid;
    row-gap: 91px;
    grid-template-columns: repeat(2, 570px);
    justify-content: space-between;
}

.company__info-item {
    font-family: 'Klik';
    color: #fff;
    font-size: 44px;
    font-weight: 300;
    line-height: 60px;
    letter-spacing: 4%;
}

/* RENTAL SECTION */

.rental {
    border-top: 1px solid #BF963C;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
}

.rental::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(10.00deg, rgba(19, 37, 63, 0),rgb(8, 9, 34) 100%);
}

.rental__item {
    padding: 40px 0;
    text-align: center;
    background-size: cover;
}

.rental__item:nth-child(1) {
    background-image: url(../img/main-page/company/rental-1.png);
}

.rental__item:nth-child(2) {
    background-image: url(../img/main-page/company/rental-2.png);
}

.rental__item:nth-child(3) {
    background-image: url(../img/main-page/company/rental-3.png);
}

.rental__item-name {
    position: relative;
    z-index: 2;
    font-family: 'Lighthaus';
    font-size: 44px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 4%;
}

.rental__item-price {
    position: relative;
    z-index: 2;
    color: rgb(255, 255, 255);
    font-family: 'Klik';
    font-size: 40px;
    font-weight: 300;
    line-height: 150%;
    letter-spacing: 4%;
}

/* HOW SECTION */

.how-blue {
    z-index: 1;
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 276px;
    bottom: -14%;
    background: linear-gradient(180.00deg, rgba(19, 22, 63, 0),rgb(19, 22, 63) 63.585%);
}

.how-video {
    position: relative;
    display: block;
    position: relative;
    width: 100%;
}

.how__texts {
    padding-bottom: 60px;
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: linear-gradient(180.00deg, rgb(19, 22, 63),rgb(15, 7, 39) 26.042%,rgb(6, 3, 24) 52.083%,rgb(11, 2, 19) 74.711%,rgb(19, 22, 63) 100%);
}

.how-title {
    max-width: 1111px;
    font-family: 'Lighthaus';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 4%;
}

.how-descr {
    margin-top: 38px;
    max-width: 1624px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family: 'Klik';
    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
}

/* ACTIONS SECTION */

.actions {
    padding: 140px 30px 51px 30px;
    background: linear-gradient(180.00deg, rgb(19, 22, 63),rgb(15, 7, 39) 26.042%,rgb(6, 3, 24) 52.083%,rgb(11, 2, 19) 74.711%,rgb(19, 22, 63) 100%);
}

.actions-title {
    color: rgb(255, 255, 255);
    font-family: 'Lighthaus';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 4%;
    text-align: center;
}

.actions__items {
    max-width: 1760px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.actions__item {
    width: 33%;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions__item-title {
    font-family: 'Gogol';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

.actions__item-img {
    max-width: 100%;
    object-fit: contain;
    margin-top: 40px;
}

.actions__item__info {
    margin-top: 52px;
    max-width: 464px;
}

.actions__item-descr {
    color: rgb(255, 255, 255);
    font-family: 'Lighthaus';
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 4%;
}

.actions__item-price {
    margin-top: 24px;
}

.actions-btn {
    display: block;
    margin: 9px auto 0 auto;
}

.actions-info {
    width: fit-content;
    display: block;
    margin: 26px 0 0 auto;
    font-family: 'Klik';
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

/* EVENTS SECTION */

.events {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 188px 101px 44px 78px;
    height: 1080px;
    background: url(../img/main-page/events/bg.png) center / cover no-repeat;
}

.events::after {
    content: '';
    height: 224px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(180.00deg, rgba(19, 22, 63, 0),rgb(19, 22, 63) 93.646%);
}

.events-title {
    color: rgb(255, 255, 255);
    font-family: 'Lighthaus';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    max-width: fit-content;
}

.events-tagline {
    position: relative;
    z-index: 2;
    font-family: 'Gogol';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
    width: fit-content;
}

.events-line {
    position: absolute;
    top: 372px;
    left: 270px;
}

.stage__item {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.stage__item-text {
    color: #ffffff;
    font-family: 'Klik';
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
}

.stage__item:first-child {
    width: 411px;
    top: 212px;
    left: 78px;
}
.stage__item:nth-child(2) {
    width: 482px;
    bottom: 112px;
    left: 78px;
}
.stage__item:nth-child(3) {
    width: 365px;
    top: 459px;
    left: 565px;
}
.stage__item:nth-child(4) {
    width: 474px;
    top: 336px;
    right: 466px;
}
.stage__item:nth-child(5) {
    width: 472px;
    bottom: 179px;
    right: 101px;
}

/* CALC SECTION */

.calc {
    padding: 120px 0 51px;
}

.calc__wrapper {
    max-width: 1645px;
}

.calc__select {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
}

.calc__item-title {
    font-family: 'Klik';
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}

.calc__item-list {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    max-height: 241px;
    flex-wrap: wrap;
    column-gap: 60px;
}

.calc__item-list.guests {
    max-height: 100px;
    column-gap: 25px;
}

.calc-input__wrapper {
    display: inline-flex;
    align-items: center;
    gap: 20px;
}

.calc-input {
    width: 19px;
    height: 19px;
    accent-color: #251C64;
}

.calc-input__descr {
    color: rgb(255, 255, 255);
    font-family: 'Klik';
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
}

.date-input {
    margin-top: 26px;
}

.select-form {
    margin-top: 60px;
}

/* EXCURSIONS SECTION */

.excursions {
    padding: 200px 0 193px;
}

.excursions__wrapper {
    max-width: 1467px;
}

.excursions-subtitle {
    text-align: center;
    margin-top: 112px;
    font-family: 'Gogol';
    font-size: 64px;
    font-weight: 400;
    line-height: 80px;
}

.excursions__content {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.excursions__block {
    max-width: 53%;
}

.excursions-descr {
    color: rgb(255, 255, 255);
    font-family: 'Klik';
    font-size: 28px;
    font-weight: 300;
    line-height: 36px;
}

.excursions__block-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 95px;
}